.chooseOpponent {
    margin-top: 10%;
}

.chooseOpponent .carousel-indicators {
    display: none !important;
}
.chooseOpponent .homeTeam {
    margin-right: 10px;
}

.carousel-control-next,
.carousel-control-prev, .carousel-indicators  {
    filter: invert(100%);
}

.changeSides h3 {
    display: block;
}


.playMatch, .goBack, .playAgain {
    border-radius: 20px;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
}

.playMatch {
    margin-right: 20px;
}


.team-role ,.team-selected{
    border: 1px solid black;
    background: blueviolet;
    padding-block: 20px;
    color: white;
}

.team-selected {
    margin-top: 0.5rem;
}

.team-name {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.team {
    border: 1px solid black;
    /* border-radius: 25px; */
    padding: 30px;
    background-color: blueviolet;
}

.team-stars-rating {
    color: whitesmoke;
    font-size: 22px;
}

.team-rating {
    color: whitesmoke;
    font-weight: 500;
}

.chooseOpponent img {
    margin-block:20px;
    width: 150px;
    height: 150px;
}

.team-selected {

    background-color: blueviolet;
}

.title-vs {
    font-size: 20px;
    font-weight: 500;
}

.changeSides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 200px;
    background: linear-gradient(
45deg,#a524c5 , transparent);
    padding: 30px;
    color: whitesmoke;
}

.changeSides button {
    padding: 20px;
    font-size: 30px;
    background: transparent;
    border: none;
}

.changeSides button:hover {
    color: whitesmoke;
    font-weight: 600;
}

.team-logo {
    width: 200px !important;
    height: 200px !important;
}

.team-stars-rating i:not(:last-child) {
    margin-right: 4px;
}

.filledStar {
    color: yellow;
}

.btn-next {
    padding: 10px 20px;
    margin-bottom: 20px;
    background: linear-gradient(
45deg, #8a23cb, transparent);
    border-radius: 20px;
    color: whitesmoke;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .changeSides {
        height: 150px !important;
        margin-block: 20px !important;
    }
}