
.game-navbar {
    /* border: 4px solid #f9fafb; */
    margin-top: 50px;
    /* max-width: 700px !important; */
    max-width: 930px !important;
}
/* .game-navbar .row>.col {
    border: 2px solid #f9fafb;
} */


.row {
    column-gap: 5px;
}
#nav-items-srow {
    justify-content: center;
}

.nav-item {
    
    height: 7.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 500;
    padding: 0px !important;
    /* border-radius: 30px; */

    border:2px solid white;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #76d5ff, #562dd0, #164254);
    height:12rem;
}

#nav-items-frow .nav-item {
    height: 15rem;
    
}
.game-navbar .nav-item {
    position: relative;
    z-index: 1;
}

#playTournament::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
    background: url("../resources/tournament-logo.png");
    background-repeat: no-repeat;
    background-size: 30% 70%;
    background-position-x: center;
    background-position-y: bottom;
}

#playMatch::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
    background: url("../resources/play-match-logo.png");
    background-repeat: no-repeat;
    background-size: 30% 60%;
    background-position-x: center;
    background-position-y: bottom;   
}

#playMatch::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
    background: url("../resources/play-match-logo.png");
    background-repeat: no-repeat;
    background-size: 40% 60%;
    background-position-x: center;
    background-position-y: bottom;   
}

#teamSquad::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 90%;  
    opacity: .4; 
    z-index: -1;
    background: url("../resources/team-squad-logo.png");
    background-repeat: no-repeat;
    background-size: 40% 40%;
    background-position-x: center;
    background-position-y: bottom;   
}

#shop::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 90%;  
    opacity: .4; 
    z-index: -1;
    background: url("../resources/shopping-cart-logo.png");
    background-repeat: no-repeat;
    background-size: 30% 40%;
    background-position-x: center;
    background-position-y: bottom;
}

#trainPlayers::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 90%;  
    opacity: .4; 
    z-index: -1;
    background: url("../resources/training-logo.png");
    background-repeat: no-repeat;
    background-size: 30% 40%;
    background-position-x: center;
    background-position-y: bottom;   
}
.game-navbar a {
    margin-top: 20px;
    color: white;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.game-nav-second-view a {
    font-size: 20px;
}

.game-nav-first-view a {
    font-size: 25px;
}


.game-navbar a:hover {
    color: white;
    font-weight:bolder;
}




