
#main-nav-core {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        justify-content: flex-end;
        flex-basis: auto;
        margin-right: 5%;
    }
}

#nav-brand {
    margin-left: 5rem;
}

.main-navbar .nav-link.active {
    color: floralwhite !important;
}

.main-navbar .nav-link {
    color: black !important;
}

.main-navbar {
    /* margin-top: 5%; */
    border-bottom-left-radius: 45px;
    border: 4px dashed black;
    width: 80%;
    max-width: 1190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    /* height: 5rem; */
}

