
.startMatch {
    background: linear-gradient(
        45deg, #8121bd, #1f1daf88);
    padding: 20px;
        
}

.teams {
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}

.team-vs {
    margin-inline:20px;
}

.goBack {
    margin-right: 20px;
}